:root {
	--height: 180px;
}

.wrap {
	width: 1200px;
	max-width: 100%;
	min-height: 180px;
	margin: 0 auto;
	margin-top: 12px;
	padding-top: 40px;
	background-color: var(--white-color);

	& > .empty {
		width: 100%;
		height: 400px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 30px;
		font-weight: 700;
		color: var(--text-color);
		gap: 30px;
		cursor: pointer;

		& > .icon {
			font-size: 8rem;
			color: var(--border-color);
		}
	}

	& > .grid {
		width: 100%;
		display: flex;
		justify-content: space-between;
		gap: 20px;

		& > .main {
			flex: 1;
			position: relative;
		}

		& > .filter {
			width: 360px;
			height: fit-content;
			border: 1px solid var(--border-color);
			border-radius: 12px;
			position: sticky;
			top: 76px;
			box-shadow: 0 0 5px rgba(var(--black-rgb-color), 0.3);
		}
	}
}

.main {
	& > .heading {
		width: 100%;
		height: 56px;
		font-size: 1.6rem;
		font-weight: 600;
		position: sticky;
		top: 68px;
		background-color: var(--white-color);
		display: flex;
		align-items: center;
	}

	& > .roundtrip-nav {
		width: 100%;
		display: flex;
		position: sticky;
		top: 124px;
		left: 0;
		align-items: center;
		justify-content: center;
		margin-bottom: 16px;
		background-color: var(--white-color);
		padding-top: 12px;
		padding-bottom: 12px;

		& > button {
			flex: 1;
			height: 52px;
			height: 100%;
			text-align: center;
			font-weight: 600;
			font-size: 1.4rem;
			color: var(--error-color);
			cursor: pointer;
			border: none;
			border-bottom: 4px solid transparent;
		}

		& > .active {
			border-bottom: 4px solid var(--error-color);
		}
	}

	& > .popup {
		margin-bottom: 16px;
	}

	& > .item {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		border: 1px solid var(--border-color);
		border-radius: 12px;
		padding: 16px;
		margin-bottom: 16px;
		cursor: pointer;
		transition: 0.3s;

		&:hover {
			padding-left: 24px;
			padding-right: 24px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.item.selected {
		border-color: var(--blue-color);
		background-color: #b7e0ff;
	}

	.show-more {
		height: 214px;
		background: linear-gradient(
			to top,
			white 0%,
			white 20%,
			transparent 100%
		);
		position: absolute;
		bottom: 16px;
		left: 0;
		right: 0;
		display: flex;
		align-items: end;
		justify-content: center;

		& > button {
			border: none;
			color: var(--blue-color);
		}
	}
}

.item {
	& > .img {
		width: var(--height);
		height: var(--height);
		object-fit: cover;
	}

	& > .content {
		flex: 1;
		height: var(--height);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	& > .ticket {
		height: var(--height);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: end;
	}
}

.content {
	& > .title {
		font-size: 1.5rem;
		font-weight: 700;
		color: var(--text-color);
	}

	& > .type-coach {
		font-size: 1.1rem;
		font-weight: 400;
		color: var(--text-color);
		margin-bottom: -10px;
	}

	& > .time-and-place {
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 20px;
	}
}

.time-and-place {
	.start,
	.end {
		display: flex;
		align-items: center;
		gap: 8px;
		margin: 10px 0;

		& > .place {
			color: var(--error-color);
		}

		& > .time {
			font-weight: 600;
		}
	}

	& > .duration {
		font-size: 1rem;
	}
}

.ticket {
	& > .price {
		font-size: 1.5rem;
		font-weight: 600;
		color: #337ccf;
	}

	.empty-seat {
		font-size: 1.1rem;
	}

	.choose-btn {
		font-size: 1.2rem;
		background-color: #f8de22;
		padding: 12px 24px;
		border-radius: 10px;
		border: none;
	}
}

.filter {
	.heading {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 12px;
		padding: 12px;

		.title {
			font-size: 1.2rem;
			font-weight: 600;
		}

		.icon {
			display: flex;
			align-items: center;
			gap: 8px;
			cursor: pointer;
			color: var(--error-color);
			font-size: 1rem;

			.trash {
				width: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}

	.option {
		width: 100%;
		padding: 24px 12px;
		border-bottom: 1px solid var(--border-color);

		&:last-child {
			border-bottom: none;
		}

		.title {
			font-size: 1.1rem;
			margin-bottom: 12px;
		}

		.content {
			font-size: 1rem;
			display: flex;
			flex-wrap: wrap;
			gap: 8px;

			.item {
				display: flex;
				align-items: center;
				gap: 8px;

				&:hover {
					input {
						border-color: var(--error-color);
					}
				}

				input {
					position: relative;
					width: 20px;
					height: 20px;
					appearance: none;
					-webkit-appearance: none;
					outline: none;
					border: 1px solid var(--border-color);
					background-color: white;
					cursor: pointer;
					border-radius: 4px;
					transition: background-color 0.3s, border-color 0.2s;
				}

				input:checked {
					background-color: var(--error-color);
					border-color: var(--error-color);
					background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22white%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22lucide%20lucide-check%22%3E%3Cpath%20d%3D%22M20%206%209%2017l-5-5%22%2F%3E%3C%2Fsvg%3E');
					background-repeat: no-repeat;
					background-position: center;
				}

				label {
					user-select: none;
					cursor: pointer;
				}
			}

			.item.--border {
				border: 1px solid var(--border-color);
				border-radius: 6px;
				padding: 4px 12px;
				cursor: pointer;
				color: var(--text-color);
			}

			.item.--border.active {
				border-color: var(--error-color);
				color: var(--error-color);
			}
		}
	}
}
