.wrap {
	// width: 580px;
	width: 100%;
	background-color: var(--white-color);
	padding: 16px 24px;
	color: var(--black-color);
	border: 1px solid var(--border-color);
	border-radius: 10px;
	line-height: 2.2rem;

	.title {
		text-align: center;
		font-size: 1.6rem;
		font-weight: 600;
		margin-bottom: 24px;
		text-transform: uppercase;
	}

	.header,
	.time,
	.seat,
	.group {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.attention {
		font-size: 0.9rem;
		list-style-type: '-  ';
		position: relative;
		padding: 0;
		padding-left: 60px;

		&::after {
			content: 'Chú ý: ';
			top: 0;
			left: 0;
			position: absolute;
		}

		li {
			margin-bottom: -12px;
		}
	}
}
