.wrap {
	width: calc(100% - 32px);
	margin: 0 auto;

	.header {
		width: 1200px;
		height: 68px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 28px;
		margin: 0 auto;

		.logo {
			height: 56px;
			cursor: pointer;
		}

		.search {
			flex: 1;
			height: 48px;
			display: flex;
			align-items: center;
			position: relative;
			border-radius: 10px;
			background-color: var(--white-color);
			z-index: 11;
		}

		.button {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 12px;
		}
	}

	.main {
		width: 100%;
		margin-top: 20px;
		display: flex;
		gap: 20px;

		.navbar {
			width: fit-content;
			height: calc(100vh - 88px);
			transition: 1s;
		}

		.content {
			flex: 1;
			height: calc(100vh - 68px - 20px);
			transition: 1s;
		}
	}
}

.search {
	.icon {
		width: 20px;
		height: 20px;
		padding-left: 14px;
		padding-right: 14px;
		color: #777;
	}

	.type {
		height: 32px;
		font-size: 1rem;
		background-color: #053b50;
		color: var(--white-color);
		padding-left: 16px;
		padding-right: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		margin-right: 16px;
		position: relative;
		cursor: pointer;

		&::after {
			content: '';
			width: 1px;
			height: 100%;
			background-color: var(--border-color);
			position: absolute;
			top: 0;
			right: -8px;
		}

		&:hover {
			ul {
				display: block;
			}
		}

		ul {
			width: 120px;
			position: absolute;
			top: calc(100% + 7px);
			left: 0;
			background-color: var(--white-color);
			border: 1px solid var(--border-color);
			border-radius: 5px;
			padding: 0;
			display: none;
			z-index: 2;

			&::after {
				content: '';
				width: 100%;
				height: 8px;
				top: -8px;
				left: 0;
				background-color: transparent;
				position: absolute;
			}

			li {
				width: 100%;
				color: var(--text-color);
				list-style: none;
				border-bottom: 1px solid var(--border-color);
				padding: 8px;
				transition: all 0.05s linear;
				user-select: none;

				&:first-child {
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
				}

				&:last-child {
					border-bottom: none;
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
				}

				&:hover {
					background-color: #053b50;
					color: var(--white-color);
				}
			}
		}
	}

	input {
		flex: 1;
		height: 100%;
		border: none;
		outline: none;
		font-size: 1.1rem;
		border-radius: 10px;
		padding-right: 30px;
	}

	.clear-input-btn {
		width: 20px;
		height: 20px;
		border: none;
		position: absolute;
		top: 50%;
		right: 120px;
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.search-btn {
		height: 32px;
		font-size: 1rem;
		background-color: #053b50;
		color: white;
		padding-left: 16px;
		padding-right: 16px;
		margin-right: 8px;
		margin-left: 8px;
		border-radius: 5px;
		position: relative;
		border: none;

		&::after {
			content: '';
			width: 1px;
			height: 100%;
			position: absolute;
			top: 0;
			left: -8px;
			background-color: var(--border-color);
		}
	}

	.result {
		width: 100%;
		height: 300px;
		max-height: 500px;
		background-color: var(--white-color);
		border-radius: 10px;
		position: absolute;
		top: calc(100% + 8px);
		left: 0;
		transition: 0.2s all ease-in-out;
		overflow: hidden;
		z-index: 1;

		&::after {
			content: '';
			width: 100%;
			height: 8px;
			background-color: transparent;
			position: absolute;
			top: -8px;
			left: 0;
		}

		.result-tag {
			width: fit-content;
			font-size: 0.9rem;
			color: var(--text-color);
			margin-left: 12px;
			margin-top: 12px;
		}

		.sample,
		.item {
			width: fit-content;
			padding: 8px 20px;
			cursor: pointer;
			color: var(--text-color);
			font-size: 1.1rem;
			display: flex;
			align-items: center;
			justify-content: start;
			gap: 8px;
			flex-wrap: wrap;
		}

		.sample {
			span {
				color: #0d9276;
			}

			span.active {
				color: var(--primary-color);
				margin-right: -8px;
			}

			&:hover {
				color: var(--primary-color);

				span {
					color: var(--primary-color);
				}
			}
		}

		.item {
			width: 100%;
			border-bottom: 1px solid var(--border-color);

			&:last-child {
				border-bottom: none;
			}

			span {
				color: #0d9276;
				font-size: 0.8rem;
			}

			&:hover {
				color: var(--primary-color);

				span {
					color: var(--primary-color);
				}
			}
		}

		.sample.selected,
		.item.selected {
			color: var(--primary-color);

			span {
				color: var(--primary-color);
			}
		}

		.notify {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 2rem;
			color: var(--disable-color);
			font-weight: 600;
		}
	}
}

.header {
	.button {
		.item {
			position: relative;

			&:hover {
				& > .option {
					display: block;
				}
			}

			.option {
				width: 260px;
				position: absolute;
				display: none;
				background-color: var(--white-color);
				top: calc(100% + 12px);
				left: -32px;
				border: 1px solid var(--border-color);
				border-radius: 10px;
				z-index: 2;

				&::after {
					width: 200px;
					height: 14px;
					content: '';
					position: absolute;
					top: -13px;
					left: -32px;
					background-color: transparent;
				}

				& > div {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: space-between;
					font-size: 1rem;
					cursor: pointer;
					padding: 16px;
					border-bottom: 1px solid var(--border-color);

					&:hover {
						color: var(--primary-color);
					}

					&:last-child {
						border-bottom: none;
					}
				}
			}
		}

		button {
			height: 48px;
			font-size: 1rem;
			border: 1px solid var(--border-color);
			border-radius: 10px;
			white-space: nowrap;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 12px;
			color: #053b50;
			padding-left: 16px;
			padding-right: 16px;

			&.color {
				border: none;
				background-color: #053b50;
				color: var(--white-color);

				& ~ .option {
					width: 200px;
					left: unset;
					right: 0;

					&::after {
						width: 150px;
						left: unset;
						right: 0;
					}
				}
			}
		}
	}
}

.navbar {
	.title {
		height: 40px;
		font-size: 2rem;
		font-weight: 600;
		color: #001b79;
		margin-bottom: 8px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.item {
		height: 48px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 1.2rem;
		color: var(--text-color);
		border-top: 1px solid var(--border-color);
		cursor: pointer;
		transition: 0.15s;

		&.active {
			color: var(--primary-color);
		}

		&:hover {
			color: var(--primary-color);
		}
	}

	.label {
		height: 48px;
		transition: width 0.5s;
		overflow: hidden;
		display: flex;
		align-items: center;
		white-space: nowrap;
	}

	.icon {
		width: 48px;
	}
}
