.wrap {
	background-color: var(--background-color);

	& > .content {
		width: 1200px;
		max-width: 100%;
		margin: auto;
		padding-top: 16px;
	}
}

.content {
	.info-wrap {
		width: 100%;
		display: flex;
		align-items: start;
		justify-content: space-between;
		gap: 20px;

		& > .main {
			width: 848px;
			display: flex;
			flex-direction: column;
			gap: 4px;
		}

		& > .info {
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 20px;
		}
	}
}

.main {
	& > * {
		border: 1px solid var(--border-color);
		padding-top: 28px;
		padding-bottom: 28px;
	}

	& > *:first-child {
		border-top-left-radius: 16px;
		border-top-right-radius: 16px;
	}

	& > *:last-child {
		border-bottom-left-radius: 16px;
		border-bottom-right-radius: 16px;
	}

	& > .seat {
		width: 848px;
		padding: 20px;
		background-color: var(--white-color);

		& > .button {
			width: 100%;
			height: 52px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 40px;
			margin-top: 20px;

			& > button {
				flex: 1;
				height: 100%;
				font-size: 1.2rem;
				font-weight: 600;

				&:first-child {
					border: 1px solid var(--primary-color);
					color: var(--primary-color);
				}

				&:last-child {
					border: none;
					background-color: var(--blue-color);
					color: var(--white-color);
				}
			}
		}
	}

	.no-login {
		background-color: var(--white-color);
		padding: 20px;

		.quick-form {
			width: 100%;
			display: flex;
			align-items: start;
			justify-content: space-between;
			gap: 24px;
		}

		.policy-accept {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: start;
			font-size: 1rem;
			color: var(--primary-color);
			gap: 4px;
			cursor: pointer;

			input {
				width: 20px;
				height: 20px;
				margin-right: 8px;
				cursor: pointer;
			}

			span {
				text-decoration: underline;
			}

			p {
				margin-bottom: 0;
				color: var(--text-color);
			}
		}
	}

	& > .shuttle-bus-form {
		background-color: var(--white-color);
		padding: 20px;

		& > .shuttle-bus {
			width: 100%;
			display: flex;
			align-items: start;
			justify-content: space-between;
		}

		& > .shuttle-bus.--gutter-line {
			gap: 40px;
			position: relative;

			&::after {
				content: '';
				width: 0.1px;
				height: 96%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-color: var(--border-color);
			}
		}

		& > .button {
			width: 100%;
			height: 52px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 40px;
			margin-top: 20px;

			& > button {
				flex: 1;
				height: 100%;
				font-size: 1.2rem;
				font-weight: 600;

				&:first-child {
					border: 1px solid var(--primary-color);
					color: var(--primary-color);
				}

				&:last-child {
					border: none;
					background-color: var(--blue-color);
					color: var(--white-color);
				}
			}
		}
	}

	& > .payment {
		width: 100%;
		display: flex;
		align-items: start;
		justify-content: space-between;
		background-color: var(--white-color);
		padding: 20px;
		position: relative;
		gap: 40px;

		& > * {
			flex: 1;
		}

		&::after {
			content: '';
			width: 0.1px;
			height: 90%;
			background-color: var(--border-color);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.info {
	& > .item {
		width: 100%;
		border: 1px solid var(--border-color);
		background-color: var(--white-color);
		border-radius: 16px;
		padding: 16px;

		& > .title {
			font-size: 1.2rem;
			font-weight: 600;
			margin-bottom: 12px;
		}

		& > .line {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 0.95rem;
			margin-bottom: 4px;

			&:last-child {
				margin-bottom: 0;
			}

			& > .--text-blue {
				color: var(--blue-color);
			}

			& > .--red-color {
				color: var(--error-color);
			}
		}

		& > .line.--summary {
			border-top: 1px solid var(--border-color);
			margin-top: 12px;
			padding-top: 10px;
		}
	}

	& > .button {
		width: 100%;
		height: 52px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 12px;

		& > button {
			flex: 1;
			height: 100%;
			font-size: 0.95rem;
			border: none;
			font-weight: 600;
			border-radius: 16px;

			&:first-child {
				color: var(--button-color);
				border: 2px solid var(--button-color);
			}

			&:last-child {
				background-color: var(--button-color);
				color: var(--white-color);
			}
		}
	}

	& > .break-line {
		width: 100%;
		height: 1px;
		background-color: var(--border-color);
		margin-top: 20px;
		margin-bottom: 20px;
	}

	& > .heading {
		width: 100%;

		& > .title {
			font-size: 1.4rem;
			font-weight: 600;
			color: var(--error-color);
		}

		& > .subtitle {
			font-size: 0.9rem;
			font-weight: 400;
		}
	}
}

.quick-form {
	.customer-info {
		flex: 1;
		display: flex;
		align-items: start;
		justify-content: center;
		flex-direction: column;
		gap: 16px;
	}

	.policy {
		width: 50%;
		display: flex;
		align-items: start;
		justify-content: center;
		flex-direction: column;
		gap: 16px;

		h5 {
			color: var(--primary-color);
		}

		p {
			color: var(--text-color);
			font-size: 1rem;
			text-align: justify;
		}
	}
}

.shuttle-bus {
	& > .item {
		flex: 1;

		& > .title {
			font-size: 1.4rem;
			font-weight: 600;
			color: var(--text-color);
			display: flex;
			align-items: center;
			gap: 20px;

			& > .info-icon {
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				color: var(--primary-color);

				& > * {
					width: 24px;
					height: 24px;
				}
			}
		}

		& > .subtitle {
			font-size: 1rem;
			color: var(--text-color);
			margin-bottom: 20px;
		}

		& > .input {
			margin-top: 8px;

			& > label {
				font-size: 1rem;
				color: var(--text-color);
				margin-bottom: 2px;
				font-style: italic;
			}

			& > input {
				width: 100%;
				height: 40px;
				outline: none;
				border: 1px solid var(--border-color);
				border-radius: 8px;
				line-height: 40px;
				padding-left: 8px;
				padding-right: 8px;
				color: var(--text-color);
				font-size: 1rem;
			}

			& > .fill {
				min-height: 40px;
				font-size: 1rem;
				padding-left: 8px;
				padding-right: 8px;
				display: flex;
				align-items: center;
			}
		}

		& > .notice {
			font-size: 1rem;
			text-align: justify;
			margin-top: 32px;
			margin-bottom: 0;
			color: var(--text-color);

			& > .--text-bold {
				font-weight: 600;
			}

			& > .--text-bold-red {
				font-weight: 600;
				color: var(--primary-color);
			}
		}
	}
}

.payment {
	& > .bill {
		--padding-top-bot: 20px;

		& > .title {
			font-size: 1.4rem;
			font-weight: 600;
			color: var(--text-color);
			line-height: 40px;
			margin-bottom: 20px;
		}

		& > .header {
			width: 100%;
			height: 88px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: var(--background-color);
			cursor: pointer;
			transition: background-color 0.15s;
			gap: 16px;
			padding: 0 8px;

			&:hover {
				background-color: #eee;
			}

			& > .icon {
				&:first-child {
					width: 64px;
					height: 64px;
					background-color: var(--white-color);
					display: flex;
					align-items: center;
					justify-content: center;

					& > * {
						width: 52px;
						height: 52px;
						color: var(--blue-color);
					}
				}
			}

			& > .content {
				flex: 1;
				color: var(--text-color);

				& > .title {
					width: 100%;
					font-size: 1.1rem;
					font-weight: 600;
					display: flex;
					align-items: center;
					gap: 8px;
				}

				& > .text {
					font-size: 0.9rem;
				}
			}
		}

		& > .text {
			padding-top: var(--padding-top-bot);
			padding-bottom: var(--padding-top-bot);

			&:last-child {
				padding-bottom: 0;
			}

			& > .text-small {
				font-size: 1rem;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				line-height: 24px;
			}

			& > .text-strong {
				font-size: 1.2rem;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				line-height: 32px;

				& > *:last-child {
					color: var(--blue-color);
				}
			}

			& > .text-strong.--gutter-line {
				height: 52px;
				border-top: 1px solid var(--border-color);
				margin-top: 20px;

				& > *:last-child {
					color: var(--error-color);
				}
			}
		}

		& > .voucher {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: var(--background-color);
			font-size: 1.2rem;
			gap: 8px;

			& > .left {
				display: flex;
				align-items: center;
				justify-content: start;
				margin-bottom: -1px;
				padding-left: 8px;
				gap: 8px;

				& > *:first-child {
					color: var(--warning-color);
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}

			& > .right {
				flex: 1;
				height: 60px;
				text-align: right;
				padding-right: 8px;
				border: none;
				outline: none;
				background-color: transparent;
			}
		}
	}

	& > .pay {
		& > .title {
			font-size: 1.4rem;
			font-weight: 600;
			color: var(--text-color);
			line-height: 40px;
			margin-bottom: 20px;
		}

		& > .paid {
			width: 100%;
			height: 100px;
			position: relative;

			& > .button {
				width: 100%;
				height: 52px;
				position: absolute;
				left: 0;
				top: calc(100% + 208px);
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid var(--blue-color);
				border-radius: 10px;
				font-size: 1.2rem;
				font-weight: 600;
				color: var(--blue-color);
			}
		}
	}
}
